.box{
    width:100px;
    height:100px;
    background:red;

    animation-name:move;
    animation-duration:2s;
    animation-iteration-count:3;
}

@keyframes move{
    from{
        transform:translateX(0);
    }
    to{
        transform:translateX(300px);
    }
}